.aboutUsHeader, .ourProductHeader
{
    margin-top: 50px;
}

.leersImage
{
    max-width: 400px;
}

.carouselItem
{
    height: 500px;
}
 
#carouselExampleControls
{
    max-width: 500px;
}

.carouselImage
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carouselButton
{
    background-color: transparent;
    border: none;
}

.carouselText
{
    font-size: x-large;
}

@media screen and (max-width:1000px) 
{
    .carouselTextSection
    {
        flex-direction: column;
    }

    .carouselOuter
    {
        width: 100%;
    }

}