.homepageWrapper
{
    background-image: url('../../assets/img/home-bg.webp');
    background-size:cover;
    width: 100%;
}

.heroText
{
    font-size: 4rem;
    text-align: center;
}

.spacer
{
    margin-top: 100px;
}

.carouselItem
{
    height: 500px;
}
 
.carouselImage
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carouselButton
{
    background-color: transparent;
    border: none;
    color: white;
    font-size: xx-large;
    font-weight:900;
}

.carouselButton:hover
{
    color: cyan;
}

.carousel-caption
{
    color: cyan;
    text-align: center;
    display: block;
    height: 40px;
}

.leersImage
{
    align-self: flex-start;
    max-width: 400px;
}

.leersSectionText
{
    max-width: 400px;
    font-size: 23.5px;
}

@media screen and (max-width:1000px) 
{
    .leersSection
    {
        flex-direction: column;
    }
}